
html {
  scroll-behavior: smooth;
  }
  :root{
  scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
  scrollbar-width: thin !important;
  }
  body {
  margin:10PX;
  overflow-x:hidden;
  font-family: 'Kanit', sans-serif;
  }
  
  /*DEFAULT*/
  a{
  text-decoration:none;
  }
  li{
  list-style:none;
  }
  em{
  font-style:normal;
  color:#138275;
  }
  p{
  font-size:1.2em;
  color:rgba(1,1,1,0.6);
  }
  .title{
  font-size:3em;
  font-family: 'Archivo Black', sans-serif;
  }
  .sub-title{
  font-size:1em;
  font-family: 'Kanit', sans-serif;
  color:gray;
  }
  .btn1{
  padding:10px 20px;
  box-shadow:0px 3px 8px -3px rgba(1,1,1,0.5);
  outline:none;
  border:0;
  background:#138275;
  border-radius:20px;
  color:#fff;
  font-weight:400;
  text-align:center;
  transition:0.5s;
  }
  .btn1:hover{
  background-color:#1e1e1e;
  }
  .btn2{
  padding:5px 20px;
  box-shadow:0px 3px 8px -3px rgba(1,1,1,0.5);
  outline:none;
  border:0;
  background:#4033ff;
  border-radius:20px;
  color:#fff;
  font-weight:400;
  text-align:center;
  transition:0.5s;
  }
  .btn2:hover{
  background:#3d35ec;
  }
  @media (max-width:900px){
  .btn1{
  padding:5px 10px;
  }
  }
  .banner{
  text-align:center;
  }
  .inline-photo {
  opacity: 0;
  transform: translateY(4em) rotateZ(-0deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
  will-change: transform, opacity;
  }
  .inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-0deg);
  }
  .inline-photo2 {
  opacity: 0;
  transform: translateX(-15em) rotateZ(-0deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
  will-change: transform, opacity;
  }
  .inline-photo2.is-visible2 {
  opacity: 1;
  transform: rotateZ(-0deg);
  }
  .inline-photo3 {
  opacity: 0;
  transform: translateX(15em) rotateZ(-0deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
  will-change: transform, opacity;
  }
  .inline-photo3.is-visible3 {
  opacity: 1;
  transform: rotateZ(-0deg);
  }
  .ml9 {
  position: relative;
  font-weight: 200;
  font-size:3.5em;
  }
  .ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  }
  .ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
  }
  
  
  
  /*LOADER*/
  /* Center the loader */
  .loading{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#9ad5ff , #0071d6);
  }
  
  .loader{
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(500px) rotatex(45deg);
  }
  
  .loader span{
  position: absolute;
  display: block;
  border: 15px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 10px 0 #e0e0e0 , inset 0 10px 0 #e0e0e0;
  animation: animate 4.5s ease-in-out infinite;
  }
  
  .loader span:nth-child(1){
  animation-delay: 0s;
  
  }
  
  .loader span:nth-child(2){
  animation-delay: 1.5s;
  }
  
  .loader span:nth-child(3){
  animation-delay: 3s;
  }
  
  @keyframes animate{
  0%{
  transform: translatez(-100px);
  width: 100%;
  height: 100%;
  }
  25%{
  transform: translatez(100px);
  width: 100%;
  height: 100%;
  }
  50%{
  transform: translatez(100px);
  width: 35%;
  height: 35%;
  }
  75%{
  transform: translatez(-100px);
  width: 35%;
  height: 35%;
  }
  100%{
  transform: translatez(-100px);
  width: 100%;
  height: 100%;
  }
  }
  
  /* Add animation to "page content" */
  .page-animate {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
  from { bottom:0px; opacity:0 } 
  to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
  from{ bottom:0px; opacity:0 } 
  to{ bottom:0; opacity:1 }
  }
  
  #myPageShow {
  display: none;
  }
  
  
  
  
  /*NAV-BAR*/
  header{
  position:static;
  top:0;
  width:100%;
  z-index:999;
  }
  
  .topnav {
  overflow: hidden;
  width:90%;
  margin:auto;
  background-color: #fff;
  z-index:9999;
  }
  
  .topnav a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition:0.5s;
  }
  
  .topnav .logo{
  float:left;
  font-family: 'Fredoka One', cursive;
  color:#000;
  font-size:2em;
  }
  
  .active {
  color:gray;
  }
  
  .topnav .icon {
  display: none;
  }
  
  .dropdown {
  float: right;
  overflow: hidden;
  }
  
  .dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
  color:#138275;
  }
  
  .dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  @media screen and (max-width: 900px) {
  .topnav{
  background:#fff;
  width:100%;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
  }
  .topnav a.icon {
  float: right;
  display: block;
  }
  }
  
  @media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
  }
  .topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
  }
  .topnav .logo{
  font-size:1.5em;
  }
  }
  #navbar {
  background-color: #fff;
  position: fixed;
  top: -60px;
  width: 100%;
  display: block;
  z-index:9;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  transition: top 0.3s;
  }
  
  #navbar a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  }
  
  #navbar .logo{
  float:left;
  }
  
  #navbar a:hover {
  background-color: #ddd;
  color: black;
  }
  
  .slide-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .slide-menu .dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }
  
  @media (max-width:900px){
  #navbar{
  display:none;
  }
  }
  
  
  
  /*MAIN*/
  .main{
  width:100%;
  height:80vh;
  background-image:url("https://i.ibb.co/w6DYdtx/main-bg.webp");
  background-attachment:fixed;
  background-size:cover;
  }
  
  .main section{
  position:absolute;
  top:15vh;
  left:3em;
  width:40%;
  }
  
  .main section .sub-title{
  color:#1e1e1e;
  }
  
  @media (max-width:900px){
  .main{
  height:50vh;
  background-attachment:local;
  background-size:100% 100%;
  }
  .main section{
  width:80%;
  }
  }
  
  
  
  /*SECTION0*/
  .section0{
  width:90%;
  background:#fff;
  padding:30px 10px;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  border-radius:5px;
  position:relative;
  top:-5vh;
  margin:auto;
  }
  
  .section0 .card{
  width:24%;
  display:inline-block;
  }
  
  .section0 .card table{
  width:100%;
  }
  
  .section0 .card table td:nth-child(1){
  width:20%;
  }
  
  .section0 .card .title{
  font-size:1em;
  }
  
  .section0 .card i{
  font-size:3em;
  color:#138275;
  margin:0px 10px;
  float:left;
  }
  
  @media (max-width:720px){
  .section0{
  overflow-x:auto;
  scrollbar-width:none;
  scroll-behavior: smooth;
  display:flex;
  align-items:left;
  justify-content: left;
  position:relative;
  top:0vh;
  padding:20px;
  }
  .section0 .card{
  min-width:90%;
  display:inline-block;
  }
  }
  
  
  
  /*SECTION1*/
  .section1{
  width:95%;
  margin:auto;
  }
  
  .section1 .cards{
  width:30%;
  height:250px;
  border-radius:5px;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  position:relative;
  margin:1%;
  display:inline-block;
  background-image:url("https://i.ibb.co/yq0f7VT/card.png");
  background-size:cover;
  }
  
  .section1 .cards section{
  width:40%;
  padding:20px;
  }
  
  .section1 .cards section .title{
  font-size:1.5em;
  }
  
  .section1 .cards section .sub-title{
  display:block;
  margin-bottom:5vh;
  }
  
  @media (max-width:720px){
  .section1{
  overflow-x:auto;
  scrollbar-width:none;
  scroll-behavior: smooth;
  display:flex;
  align-items:left;
  justify-content: left;
  margin-top:5vh;
  }
  .section1 .cards{
  min-width:99%;
  display:inline-block;
  }
  }
  
  
  
  /*SECTION2*/
  .section2{
  width:95%;
  margin:auto;
  }
  
  .section2 table{
  width:100%;
  }
  
  .section2 table td{
  width:50%;
  }
  
  .section2 table td li{
  padding:5px 0px;
  }
  
  .section2 table td li:before{
  content:"\f0a4";
  font-family:"FontAwesome";
  color:#138275;
  margin:0px 5px;
  }
  
  .section2 table td img{
  width:90%;
  margin:auto;
  height:90%;
  }
  
  
  
  /*SECTION3*/
  .section3{
  width:100%;
  background-image:url("https://i.ibb.co/RhDMqPX/bg.webp");
  background-size:cover;
  background-attachment:fixed;
  }
  
  .section3 table{
  width:90%;
  height:70vh;
  margin:auto;
  }
  
  .section3 table td{
  width:50%;
  height:70vh;
  }
  
  .section3 table td li{
  padding:5px 0px;
  }
  
  .section3 table td li:before{
  content:"\f0a4";
  font-family:"FontAwesome";
  color:#138275;
  margin:0px 5px;
  }
  
  .section3 .card {
  position: relative;
  width: 60%;
  height:90%;
  overflow: hidden;
  border-radius: 5px;
  }
  
  /*Light blue cover above the slide show*/
  .section3 .card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  }
  
  .section3 .card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size:100% 100%;
  transform: translateX( 700px );
  background-image: url(https://i.ibb.co/w784353/slide4.png);
  background-repeat:no-repeat;
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }
  
  .section3 .card_part.card_part-two {
  z-index: 6;
  background-image: url(https://i.ibb.co/zGB2MbJ/slide1.png);
  animation-delay: 7s;
  background-repeat:no-repeat;
  }
  
  .section3 .card_part.card_part-three {
  z-index: 5;
  background-image: url(https://i.ibb.co/Cs64fpv/slide2.png);
  animation-delay: 14s;
  background-repeat:no-repeat;
  }
  
  .section3 .card_part.card_part-four {
  z-index: 4;
  background-image: url(https://i.ibb.co/Ch3xHbZ/slide3.png);
  animation-delay: 21s;
  background-repeat:no-repeat;
  }
  
  
  @keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
  }
  
  @media (max-width:720px){
  .section2 table td,.section3 table td{
  display:block;
  width:96%;
  margin:2% 0%;
  }
  .section2 table td img{
  display:none;
  }
  .section3 .card {
  position: relative;
  width: 60%;
  height:90%;
  }
  .section3 table td{
  height:50vh;
  }
  }
  
  
  
  /*SLICK CARD*/
  .slick{
  background:#f8f8f8;
  padding:30px 0px;
  }
  .slick table{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  }
  
  .slick table td{
  width:30%;
  padding:1%;
  }
  
  .slick table td ul li{
  list-style:none;
  padding:10px 0px;
  }
  
  .slick table td ul li a{
  text-decoration:none;
  transition:0.5s;
  }
  
  .slick table td ul li a:hover{
  color:#8798bd;
  }
  
  .slick table td ul li h3{
  color:#000;
  font-weight:bold;
  }
  
  .slick table td ul li p{
  color:rgba(1,1,1,0.7);
  }
  
  .slick table td:nth-child(1) ul{
  text-align:right;
  }
  
  .slick table td:nth-child(3) ul{
  text-align:left;
  }
  
  .slick table td:nth-child(2) .card{
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  }
  
  .slick .card {
  position: relative;
  width: 90%;
  height:70vh;
  overflow: hidden;
  border-radius: 5px;
  }
  
  
  .slick .card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  }
  
  .slick .card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size:cover;
  transform: translateX( 700px );
  background-image: url("https://i.ibb.co/BjTv902/slick1.webp");
  background-repeat:no-repeat;
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }
  
  
  .slick .card_part.card_part-two {
  z-index: 6;
  background-image: url("https://i.ibb.co/L6MCbHt/slick2.webp");
  animation-delay: 7s;
  background-repeat:no-repeat;
  }
  
  .slick .card_part.card_part-three {
  z-index: 5;
  background-image: url("https://i.ibb.co/qMcnqn8/slick3.webp");
  animation-delay: 14s;
  background-repeat:no-repeat;
  }
  
  .slick .card_part.card_part-four {
  z-index: 4;
  background-image: url("https://i.ibb.co/1ZsVZhX/slick4.webp");
  animation-delay: 21s;
  background-repeat:no-repeat;
  }
  
  
  @keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
  }
  
  
  @media (max-width:600px){
  .slick table td{
  width:100%;
  display:block;
  }
  .slick table td:nth-child(1) ul{
  text-align:left;
  }
  }
  
  @media (max-width:500px){
  .slick table td{
  width:100%;
  display:block;
  }
  .slick table td:nth-child(1) ul{
  text-align:left;
  }
  .title{
  font-size:1.3em;
  }
  .sub-title{
  font-size:0.6em;
  }
  .slick table td ul li{
  padding:5px 0px;
  }
  }
  
  
  
  
  /*TESTIMONIAL*/       
  .testimonial{
  width:100%;
  position:relative;
  background:#138275;
  padding:20px 0px;
  }      
  
  .testimonial .icons{
  position:absolute;
  right:0px;
  top:0px;
  width:100px;
  height:100px
  }
  
  .testimonial_slider_2{
  margin-top:50px;
  width:100%;
  overflow:hidden;
  box-sizing:border-box;
  padding-bottom:30px;
  }
  .testimonial_slider_2 input {
  display: none;
  }
  
  .testimonial_slider_2 #slide_2_1:checked ~ .boo_inner { margin-left:0; }
  .testimonial_slider_2 #slide_2_2:checked ~ .boo_inner { margin-left:-100%; }
  .testimonial_slider_2 #slide_2_3:checked ~ .boo_inner { margin-left:-200%; }
  .testimonial_slider_2 #slide_2_4:checked ~ .boo_inner { margin-left:-300%; }
  .testimonial_slider_2 .boo_inner {
  width:400%;
  /* -webkit-transform: translateZ(0); */
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
  
  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
  }
  .testimonial_slider_2 .slide_content{
  width:25%;
  float:left;
  }
  .testimonial_slider_2 #controls {
  text-align:center;
  }
  .testimonial_slider_2 #controls label{
  width:8px;
  height:8px;
  margin:0 2px;
  display:inline-block;
  background:#999; /* Change controls background color */
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  }
  .testimonial_slider_2 #slide_2_1:checked ~ #controls label:nth-child(1), 
  .testimonial_slider_2 #slide_2_2:checked ~ #controls label:nth-child(2), 
  .testimonial_slider_2 #slide_2_3:checked ~ #controls label:nth-child(3), 
  .testimonial_slider_2 #slide_2_4:checked ~ #controls label:nth-child(4){
  background:#000; /* Change controls background color when mouse click */
  }
  .testimonial_2 {
  font-size: 16px !important;
  color: #333; /* Change testimonial paragraph text color */
  padding: 30px 30px 23px;
  }
  .content_2 {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
  }
  .content_2:before,
  .content_2:after {
  content: "";
  height: 15px;
  width: 19px;
  position: absolute;
  }
  .content_2:before {
  background: url(icon_testimonial_2_before.png) 0 0 no-repeat;
  left: 0;
  }
  .content_2:after {
  background: url(icon_testimonial_2_after.png) 0 0 no-repeat;
  margin: 5px 10px;
  }
  .testimonial_2 p {
  display: inline;
  color:#fff;
  }
  .author_2 {
  margin-left: 30px;
  }
  .author_2 h3 {
  color: #fff; /* Change author text color */
  font-size: 13px;
  font-weight: 600px;
  padding: 0 0 5px;
  }
  .author_2 h4 {
  color: #333; /* Change author text color */
  font-size: 12px;
  font-weight: 400;
  padding: 0 0 5px;
  }
  .author_2 h4 a {
  color: #999; /* Change company text link color */
  text-decoration: none;
  position: relative;
  padding-bottom: 1px;
  overflow: hidden;
  border-bottom: 1px solid;
  }
  .author_2 h4 a:after {
  background: #999; /* Change company border link background color */
  height: 1px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  }
  .author_2 h4 a:hover {
  color: #000; /* Change company text link color when mouse over */
  border: none;
  }
  .author_2 h4 a:hover:after {
  border-color: #000;
  width: 100%;
  }
  
  
  
  /*SECTION4*/
  .section4{
  width:100%;
  height:60vh;
  border-radius:5px;
  text-align:center;
  background-image: url(https://i.ibb.co/phXVD7v/bg2.png);
  background-size:cover;
  padding:30px;
  }
  
  .section4 .sub-title{
  color:#000;
  }
  
  
  
  
  /*FOOTER*/
  .footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  }
  
  .footer .column{
  width:20%;
  margin:0% 1%;
  display:inline-block;
  }
  
  .footer .column ul{
  width:100%;
  }
  
  .footer .column ul li{
  list-style:none;
  padding:5px 0px;
  color:gray;
  }
  
  .footer .column ul li a{
  text-decoration:none;
  font-size:0.8em;
  color:gray;
  transition:0.5s;
  }
  
  .footer .column ul li a:hover{
  color:#138275;
  }
  
  .footer .column ul .title{
  font-family: 'Fredoka One', cursive;
  font-size:1.2em;
  color:#fff;
  }
  
  .footer .column ul li input{
  padding:5px 5px;
  outline:none;
  border:0;
  width:70%;
  height:30px;
  color:#1e1e1e;
  }
  
  .footer .column ul li .btn1{
  /* background:;  */
  outline:none;
  border:0;
  padding:5px;
  color:#fff;
  height:44px;
  font-size:0.5em;
  background:#138275;
  border-radius:0px;
  }
  
  .footer .column ul li i{
  font-size:1.5em;
  margin:0px 10px;
  }
  
  .sub-footer{
  background:#1e1e1e;
  padding:5px 0px;
  text-align:center;
  color:gray;
  font-size:12px;
  font-family: 'Play', sans-serif;
  }
  
  @media (max-width:720px){
  .footer .column{
  width:90%;
  display:block;
  margin:0% 0%;
  }
  
  .footer .column:nth-child(2),.footer .column:nth-child(3){
  width:40%;
  display:inline-block;
  }
  }
  
  @media (max-width:1200px){
  .footer .column ul li input{
  padding:5px 5px;
  outline:none;
  border:0;
  width:70%;
  height:34px;
  color:#1e1e1e;
  }
  }
  
  @media (max-width:940px){
  .footer .column ul li input{
  padding:5px 5px;
  outline:none;
  border:0;
  width:60%;
  height:34px;
  color:#1e1e1e;
  }
  }
  
  
  
  
  
  
  /*SEARCH MODAL*/
  .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  }
  
  .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
  }
  
  .overlay .closebtn:hover {
  color: #ccc;
  }
  
  .overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 70%;
  background: white;
  }
  
  .overlay input[type=text]:hover {
  background: #f1f1f1;
  }
  
  .overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }
  
  .overlay button:hover {
  background: #bbb;
  }
  
  
  
  /* ZOOM ANIMATION */
  .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
  }
  .credits{
    background:#1e1e1e;
    color:gray;
    font-size:13px;
    padding:10px;
    position:fixed;
    right:0;
    bottom:20px;
  }
  
  
  
  
  
  
  
  